<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fju.im2016.com.hm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LinkFirst.LinkFirstActivity">

        </activity>
        <activity android:name=".ui.main.IndexActivity">
        </activity>
        <activity android:name=".ui.main.MainActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>

        <activity
            android:name=".ui.sleepclock.SleepClockActivity"
            android:theme="@style/myDialog">
        </activity>

        <activity
            android:name=".ui.LinkFirst.PrivateIPSet">
        </activity>

        <activity
            android:name=".ui.LinkFirst.PublicIPSet">
        </activity>

        <activity
            android:name=".ui.setting.SettingActivity">
        </activity>

        <activity
            android:name=".ui.viewpager.Leading">
        </activity>

        <activity
            android:name=".ui.manual.ManualActivity">
        </activity>

        <activity
            android:name=".ui.viewpager.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.youtube.YoutubeActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ui.youtube.FavoriteActivity"
            android:label="youtube"
            android:configChanges="orientation|screenSize">
        </activity>

        <service android:name=".core.service.BroadcastService" />

        <activity android:name=".ui.IntelligentPlayer.Intelligent_Player"
            android:theme="@style/myDialog">

        </activity>

        <receiver android:name=".ui.IntelligentPlayer.Intelligent_Player$AlarmReceiver">

        </receiver>
    </application>

</manifest>
